@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

@keyframes backgroundCycle {
  0% {
    background-image: url("/img1.png");
  }
  33% {
    background-image: url("/img2.png");
  }
  66% {
    background-image: url("/img3.png");
  }
  100% {
    background-image: url("/img1.png");
  }
}

html {
  animation: backgroundCycle 12s infinite;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
}
